.left-table03 {
  padding: 6px 40px;
  position: relative;
  cursor: pointer; }
  .left-table03 .fa {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%); }
    .left-table03 .fa.fa-caret-down {
      display: none; }

.toggle-son {
  display: none;
  padding-top: 10px; }
  .toggle-son li {
    list-style: none;
    padding: 5px;
    font-size: 12px;
    cursor: pointer; }

#addUserPage .btn-primary {
  margin-top: 20px; }
