/*----------------------------------------------------*
**for different browser fun***********************begin
*----------------------------------------------------*/
/*----------------------------------------------------*
**for different browser fun*************************end
*----------------------------------------------------*/
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; }

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 73px; }

h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 45px; }

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 36px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px; }

h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px; }

h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px; }

.a-normal,
.a-regular {
  font-weight: 400 !important; }

.a-bold {
  font-weight: 700 !important; }

.a-italic {
  font-style: italic !important; }

.a-font-normal {
  font-style: normal !important; }

.a-caps {
  text-transform: uppercase !important; }

.a-nowrap {
  white-space: nowrap !important; }

.a-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.a-clearfix {
  *zoom: 1; }

.a-clearfix:after,
.a-clearfix:before {
  display: table;
  line-height: 0;
  content: ''; }

.a-clearfix:after {
  clear: both; }

.a-cursor-pointer {
  cursor: pointer; }

.a-pull-left {
  float: left !important; }

.a-pull-right {
  float: right !important; }

.a-text-left {
  text-align: left !important; }

.a-text-center {
  text-align: center !important; }

.a-text-right {
  text-align: right !important; }

.a-no-border {
  border: 0 !important; }

.a-no-border-radius {
  border-radius: 0 !important; }

.a-no-padding {
  padding: 0 !important; }

.a-no-boxshadow {
  box-shadow: none !important; }

.a-text-underline {
  text-decoration: underline !important; }
  .a-text-underline:hover {
    text-decoration: none !important; }

.a-width-auto {
  width: auto !important; }

.a-height-auto {
  height: auto !important; }

.a-margin-auto {
  margin: auto !important; }

.a-static {
  position: static !important; }

.a-overflow-x-auto {
  overflow-x: auto; }

.a-d-flex {
  display: flex !important; }
  .a-d-flex .a-flex-auto {
    flex: 0 0 auto; }
  .a-d-flex .a-flex-stretch {
    flex: 1 1 auto; }

.a-align-items-center {
  align-items: center !important; }

.a-justify-content-center {
  justify-content: center !important; }

.a-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }

.a-top-zero {
  top: 0 !important; }

.a-margin-top-zero {
  margin-top: 0 !important; }

.a-min-width-unset {
  min-width: unset !important; }

.a-no-margin {
  margin: 0 !important; }

.a-font-12 {
  font-size: 12px; }

.a-bg-warning {
  background-color: #ffbf1f;
  border: #ffbf1f !important; }

.a-bg-error {
  background-color: #c52a1a;
  border: #c52a1a !important; }

.a-bg-theme {
  background-color: #d04a02; }

.a-bg-success {
  background-color: #159b25;
  border: #159b25 !important; }

.a-text-error {
  color: #c62b12 !important; }

.a-text-white {
  color: #FFFFFF !important; }

.a-btn-theme {
  background-color: #d04a02;
  color: #FFFFFF; }
