/*----------------------------------------------------*
**for different browser fun***********************begin
*----------------------------------------------------*/
/*----------------------------------------------------*
**for different browser fun*************************end
*----------------------------------------------------*/
.frame {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  height: 100%; }
  .frame .frame_header {
    flex: 0 0 auto;
    background-color: #d04a02;
    display: flex;
    min-height: 30px;
    align-items: center; }
    .frame .frame_header .active > a {
      color: #FFFFFF; }
    .frame .frame_header .logout_box {
      margin-right: 10px; }
  .frame .frame_content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 20px; }
  .frame .frame_footer {
    flex: 0 0 auto;
    display: flex;
    padding: 8px 20px;
    line-height: 24px;
    font-size: 14px;
    flex-wrap: wrap;
    background: #282F34;
    color: #FFFFFF; }
