/*----------------------------------------------------*
**for different browser fun***********************begin
*----------------------------------------------------*/
/*----------------------------------------------------*
**for different browser fun*************************end
*----------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #E0301E; }
