.loginPage {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  min-width: 380px; }
  .loginPage .login_container {
    position: absolute;
    left: 50%;
    top: 10%;
    min-width: 370px;
    transform: translate(-50%, 0);
    padding: 20px;
    box-shadow: 0px 0px 5px #888888; }
