@import '../mixins/vars';
@import '../mixins/mixins';

.frame {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    height: 100%;

    .frame_header {
        flex: 0 0 auto;
        background-color: $default-color;
        display: flex;
        min-height: 30px;
        align-items: center;

        .logout_box {
            margin-right: 10px;
        }
    }

    .frame_content {
        flex: 1 1 auto;
        overflow: auto;
        padding: 20px;
    }

    .frame_footer {
        flex: 0 0 auto;
        display: flex;
        padding: 8px 20px;
        line-height: 24px;
        font-size: 14px;
        flex-wrap: wrap;
        background: $fill-darkslate;
        color: $text-white;
    }
}